---
layout: default
title: Archive
permalink: /authors.html
---

<div class="row">
    <div class="col-md-5 col-lg-offset-3">

   {% for post in site.posts %}
       {% assign currentAuthor = post.author %}
       {% if currentAuthor != myAuthor %}
           {% unless forloop.first %}</ul>{% endunless %}
           <a name="{{ currentAuthor }}"></a>
           <h1>{{ currentAuthor | join: ', ' }}</h1>
           <ul>
           {% assign myAuthor = currentAuthor %}
       {% endif %}
       <li><a href="{{ post.url }}">{{ post.title }}</a></li>
       {% if forloop.last %}</ul>{% endif %}
   {% endfor %}

 </div>
</div>
