---
layout: default
title: Tags
permalink: /tags.html
---

<div class="row">
    <div class="col-md-5 col-lg-offset-3">

      <section id="tags">
      	<div class='rounded'>
      		<h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      	</div>
      	{% for tag in site.tags %}
      		<div class='rounded'>
      			<h2 id="ref-{{ tag[0] | cgi_escape | remove:'%' }}"><a name="{{ tag[0] | escape | replace: ' ', '-' }}"></a>{{ tag[0] | escape }}</h2>
      			<ul>
      			{% assign list_pages = tag[1] %}
            {% for post in list_pages %}
  					<li>
  						<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
  					</li>
            {% endfor %}
      			</ul>
      		</div>
      	{% endfor %}
      </section>


 </div>
</div>
