<div id="entry-list">

<div class="row" style="margin-bottom:10px;">
		<input type="text" class="search form-control" placeholder="Search" />
</div>

<div class="row">
<table class="table table-striped">
	<thead>
		<tr>
			<th style="width:5%;"><span class="sort" data-sort="link">Link</span></th>
			<th style="width:15%;"><span class="sort" data-sort="playbook-name">Playbook</span></th>
			<th style="width:5%;"><span class="sort" data-sort="source">Source</span></th>
			<!--<th style="width:5%;"><span class="sort" data-sort="license">License</span></th>-->
			<th style="width:10%;"><span class="sort" data-sort="cost">Cost</span></th>
			<th style="width:15%;"><span class="sort" data-sort="author">Author</span></th>
			<th style="width:30%;"><span class="sort" data-sort="description">Description</span></th>
			<th style="width:10%;"><span class="sort" data-sort="category">Category</span></th>
			<th style="width:5%;"><span class="sort" data-sort="tags">Tags</span></th>
			<th style="width:10%;"><span class="sort" data-sort="date-added">Added</span></th>
      <th style="width:5%;"><span class="sort" data-sort="review-count">Reviews</span></th>
		</tr>
	</thead>
	<tbody class="list">
	{% assign sortedPosts = site.posts | sort: 'title' %}
	{% for post in sortedPosts %}
	  {% if page.cost == post.cost %}
		<tr>
			<td class="link"><a href="{{ post.link }}" target="new"><button type="button" class="btn btn-primary">Get <i class="fa fa-external-link"></i></button></a></td>
			<td class="playbook-name"><a href="{{ site.baseurl }}{{ post.url }}">
				{% assign words = post.slug | replace: '-', ' ' | split: ' ' %}
				{% capture titlecase %}{% for word in words %}{{ word | capitalize }} {% endfor %}{% endcapture %}
				{{ titlecase }}
			</a></td>
			<td class="source">
				{% if post.source-url %}<a href="{{ post.source-url }}" target="new">{{ post.source }}</a>{% else %} {{ post.source }} {% endif %}</td>
			<!--<td class="license">{{ post.license }}</td>-->
			<td class="cost">{{ post.cost }}</td>
			<td class="author"><a href="{{ site.baseurl }}/authors.html#{{post.author}}">{{ post.author | join: ", " }}</a></td>
			<td class="description">{{ post.excerpt | truncate: 200 }}</td>
			<td class="category">{% for cat in post.categories %}<a href="{{ site.baseurl }}/{{ cat | replace: ' ', '-' }}.html">{{ cat }}</a>{% if forloop.last == false %}, {% endif %}{% endfor %}</td>
			<td class="tags">{% if post.tags %}{% for tag in post.tags %}{{ tag }}{% if forloop.last == false %}, {% endif %}
				{% endfor %}{% endif %}
				</td>
			<td class="date-added">{{ post.date | date: "%m-%d-%y" }}</td>
      <td class="review-count">  {% capture loc %}{{ post.slug }}-{{ post.date | date: "%m" }}{{ post.date | date: "%d" }}{{ post.date | date: "%y" }}{% endcapture %}
        {% if site.data.comments[loc].size > 0 %}
          {{ site.data.comments[loc] | size }}
        {% else %}
           0
        {% endif %}</td></td>
		</tr>
		{% endif %}
	{% endfor %}
	</tbody>
</table>
</div>

</div>

<script type="text/javascript">
var options = {
  valueNames: ['link', 'playbook-name', 'source', 'cost', 'author', 'description', 'category', 'tags', 'date-added', 'review-count']
};
var entryList = new List('entry-list', options);

var hash = window.location.hash;
var searchInput = document.querySelector('input.search');
if(hash.length > 1) {
  searchInput.value = hash.substr(1);
  if ("createEvent" in document) {
    var evt = document.createEvent("HTMLEvents");
    evt.initEvent("keyup", false, true);
    searchInput.dispatchEvent(evt);
  }
  else {
    searchInput.fireEvent("onkeyup");
  }
}
searchInput.addEventListener('keyup', function () {
  window.location.hash = this.value;
});

</script>
