<section class="page__reactions">
  {% if site.repository and site.staticman.branch %}
    {% if site.data.comments[page.slug] %}
      <!-- Start static comments -->
      test
      <div id="comments" class="js-comments">
        <h2 class="page__section-label">
          {% if site.data.comments[page.slug].size > 1 %}
            {{ site.data.comments[page.slug] | size }}
          {% endif %}
          Comments
        </h2>
        {% for comment in site.data.comments[page.slug] %}
        {{comment}}
          <tr>
            <td class="name">{{ comment.name }}</td>
            <td class="email">{{ comment.email }}</td>
            <td class="data">{{ comment.data }}</td>
            <td class="message">{{ comment.message }}</td>
      		</tr>
        {% endfor %}
      </div>
      <!-- End static comments -->
    {% endif %}

    {% unless page.comments_locked == true %}
      <!-- Start new comment form -->

      <form method="POST" action="https://api.staticman.net/v2/entry/exposit/dw-playbooks/gh-pages/comments">
        <input name="options[redirect]" type="hidden" value="https://exposit.github.io/dw-playbooks/">
        <!-- e.g. "2016-01-02-this-is-a-post" -->
        <input name="options[slug]" type="hidden" value="{{ page.slug }}">
        <label><input name="fields[name]" type="text">Name</label>
        <label><input name="fields[email]" type="email">E-mail</label>
        <label><textarea name="fields[message]"></textarea>Message</label>

        <button type="submit">Go!</button>
      </form>

      <!-- End new comment form -->
    {% else %}
      <p><em>Comments are closed. If you have a question concerning the content of this page, please feel free to <a href="/contact/">contact me</a>.</em></p>
    {% endunless %}
  {% endif %}
</section>
