<section class="page__reactions">
  {% if site.repository and site.staticman.branch %}
    {% if site.data.comments[page.slug] %}
      <!-- Start static comments -->
      <div id="comments" class="js-comments">
        <h4 class="page__section-label">
          {% if site.data.comments[page.slug].size > 1 %}
            {{ site.data.comments[page.slug] | size }}
          {% endif %}
          Comments
        </h4>
        <hr>
        <div class="row">
        {% for comment in site.data.comments[page.slug] %}
            <p>
              <h4>{{ comment[1].name }}</h4>
            </p>
            <p>
              <i>{{ comment[1].date | date: '%B %d, %Y' }}</i>
            </p>
            <p>
              {{ comment[1].message }}
        		</p>
            <hr>
        {% endfor %}
        </div>
      </div>
      <!-- End static comments -->
    {% endif %}

    {% unless page.comments_locked == true %}
      <!-- Start new comment form -->

      <h4>New Comment</h4>

      <form method="POST" action="https://api.staticman.net/v2/entry/exposit/dw-playbooks/gh-pages/comments">
        <input name="options[redirect]" type="hidden" value="https://exposit.github.io/dw-playbooks/">
        <!-- e.g. "2016-01-02-this-is-a-post" -->
        <p><input name="options[slug]" type="hidden" value="{{ page.slug }}"></p>
        <p><label><input name="fields[name]" type="text">&nbsp;Name</label></p>
        <p><label><input name="fields[email]" type="email">&nbsp;E-mail</label></p>
        <p><label><textarea name="fields[message]"></textarea></label></p>

        <p><button type="submit">Go!</button></p>
      </form>

      <!-- End new comment form -->
    {% else %}
      <p><em>Comments are closed.</em></p>
    {% endunless %}
  {% endif %}
</section>
