<section class="page__reactions">
  {% if site.repository and site.staticman.branch %}
  {% capture loc %}{{ page.slug }}-{{ page.date | date: "%m" }}{{ page.date | date: "%d" }}{{ page.date | date: "%y" }}{% endcapture %}
    {% if site.data.comments[loc] %}
      <!-- Start static comments -->
      <div id="comments" class="js-comments">
        <h4 class="page__section-label">
          {% if site.data.comments[loc].size > 0 %}
            {{ site.data.comments[loc] | size }}
          {% endif %}
          Reviews
        </h4>
        <hr>
        <div class="row">
        {% for comment in site.data.comments[loc] %}
            <p>
              <h4>{{ comment[1].name }}</h4>
            </p>
            <p>
              <i>{{ comment[1].date | date: '%B %d, %Y' }}</i>
            </p>
            <p>
              {{ comment[1].message }}
            </p>
            <hr>
        {% endfor %}
        </div>
      </div>
      <!-- End static comments -->
    {% endif %}

    {% unless page.comments_locked == true %}
      <!-- Start new comment form -->

      <h4>New Review</h4>

      <p>Share your thoughts and experiences with this playbook.</p>

      <p>Please be thoughtful and polite -- someone worked hard on this!</p>

    <p></p>

      <form method="POST" action="https://api.staticman.net/v2/entry/exposit/dw-playbooks/gh-pages/comments">
        <input name="options[redirect]" type="hidden" value="https://exposit.github.io/dw-playbooks/">
        <!-- e.g. "2016-01-02-this-is-a-post" -->
        <input name="options[playbook-name]" type="hidden" value="{{ page.slug }}-{{ page.date | date: "%m" }}{{ page.date | date: "%d" }}{{ page.date | date: "%y" }}">
        <div class="form-group"><label class="form-label">Name</label><input class="form-control" name="fields[name]" type="text"></div>
        <div class="form-group"><label class="form-label">Email</label><input class="form-control" name="fields[email]" type="email"></div>
        <div class="form-group"><textarea class="form-control" name="fields[message]" placeholder="Review"></textarea></div>

        <div class="form-group"><button type="submit" class="btn btn-primary">Submit</button></div>
      </form>

      <i>Reviews (and associated data) are processed with <a href="https://staticman.net/" target="new">staticman</a> and stored in the repo <a href="https://github.com/exposit/dw-playbooks/tree/gh-pages/_data/comments">here</a>. If you have a correction or want to discuss this page or site, please open an <a href="https://github.com/exposit/dw-playbooks/issues">issue</a> on the repo.</i>
      <!-- End new comment form -->
    {% else %}
      <p><em>Comments are closed.</em></p>
    {% endunless %}
  {% endif %}
</section>
