---
layout: default
---

<div class="post">

  <div class="row">
      <div class="col-md-5 col-lg-offset-3">

        <header class="post-header">
          <h2 class="post-title"><a href="{{ page.link }}" target="new">{{ page.playbook-name }}</a></h2>
          <h4><a href="">{% if page.source-url %}<a href="{{ page.source-url }}" target="new">{{ post.source }}</a>{% else %} {{ post.source }} {% endif %}</a></h4>
          <h5 class="post-tags">{{ page.categories | join: ", " }} | {{ page.tags | join: ", " }}</h5>
        </header>

        <p class="post-description"><i>{{ page.description }}</i></p>

        <article class="post-content">
          {{ content }}
        </article>

        <div class="col-xs-12" style="height:50px;"></div>

        <p><i>Back to the <a href="https://exposit.github.io/dw-playbooks/">main page</a>.</i></p>

        <div class="col-xs-12" style="height:50px;"></div>

        {% include page_comments.html %}

      </div>
  </div>

</div>
